<html>
    <head>
        <title>Ferret</title>
        <link href="/global.css" rel="stylesheet"></style>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

        <!-- Seasonal Code -->
        <script src="https://dadevmikey.github.io/The-Holiday-Library/ChristmasOverlay.js"></script>
        <script>window.onload = function() { christmasOverlaySnow.enable(zIndex=0); }</script>
    </head>
    <body>
        <div class="mainContainer">
            <center>
                <img src="{{ image|safe }}" style="height:50vh;">
            </center>
        </div>
        <div class="footer">
            <center>
                App made by Benji for team 6045<br>{{ verstring }}
            </center>
        </div>
    </body>
</html>