<html>
    <head>
        <title>Ferret</title>
        <link href="/global.css" rel="stylesheet"></style>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://kit.fontawesome.com/07e379ee62.js" crossorigin="anonymous"></script>

        <!-- Seasonal Code -->
        <script src="https://dadevmikey.github.io/The-Holiday-Library/ChristmasOverlay.js"></script>
        <script>window.onload = function() { christmasOverlaySnow.enable(zIndex=0); }</script>
    </head>
    <body>
        <div class="mainContainer">
            <center>
                <img src="/logo.png" height=128>
                <h1 class="text">Thank you!</h1>
                Please return the device to whoever gave it to you.
                <br>
                Thank you for participating!
                <br>
                <br>
                <hr>
                <br>
                Follow our socials!
                <br>
                <br>
                <div class="generalContainer">
                    FerretFRC
                    <br>
                    <a href="/bluesky/"><i class="fa-brands fa-bluesky" style="display: inline-block; color: white;"></i></a>
                </div>
                <br>
                <div class="generalContainer">
                    {{ name }}
                    <br>
                    <a href="/facebook/"><i class="fa-brands fa-facebook" style="display: inline-block; color: white;"></i></a>
                    <a href="/twitter/"><i class="fa-brands fa-twitter" style="display: inline-block; color: white;"></i></a>
                    <a href="/tiktok/"><i class="fa-brands fa-tiktok" style="display: inline-block; color: white;"></i></a>
                </div>
            </center>
        </div>
        <div class="footer">
            <center>
                App made by Benji for team 6045<br>{{ verstring }}
            </center>
        </div>
    </body>
</html>